* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
}
body {
  background-color: hsl(0, 0%, 98%);
}

.header {
  background-color: #fff;
  display: flex;
  justify-content: center;
  width: 100%;
}
.search-and-country {
  max-width: 80%;
  margin: 0% auto;
}
#content {
  display: flex;
  flex-grow: 1;
  max-width: 80%;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  height: 85px;
}
#heading {
  font-size: 40px;
  font-weight: 800;
  display: flex;
  justify-content: center;
  align-items: center;
}
#search-and-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 90vw;
  /* margin: 10px 38px 20px 38px; */
  margin: 30px auto;
}
#search {
  height: 55%;
  width: 25vw;
  min-width: 270px;
  font-size: 20px;
  font-weight: 600;
  text-align: start;
  border: 2px solid #fff;
  border-radius: 6px;
  padding: 10px 30px;
}
#search:hover {
  background-color: lightgray;
  cursor: pointer;
  transition: 1s;
}
#country-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 80px;
  margin: 20px auto;
  padding: 10px 0px;
  min-width: 80%;
  border: none;
}
.countryInfo {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  min-width: 280px;
  max-width: 360px;
  flex-direction: column;
  background-color: white;
  box-shadow: 1px 1px 11px -1px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
}
.countryInfo:hover {
  transform: scale(1.05);
  transition: 0.3s;
}
h2 {
  padding: 0px 0px 15px 45px;
  font-weight: 900;
}
p {
  padding-left: 45px;
  color: rgb(75, 75, 75);
  margin-top: 5px;
}
.text-container {
  margin-bottom: 40px;
}
img {
  object-fit: cover;
  height: 80%;
  width: 100%;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  box-shadow: 1px 1px 11px -1px rgba(0, 0, 0, 0.25);
}
.img-container {
  height: 250px;
  margin-bottom: 1px;
}
.dropdown {
  height: 60%;
  /* width: 100%; */
  min-width: 12em;
  /* margin: 0 30px; */
  position: relative;
  /* margin: 1em; */
}
.dropdown * {
  box-sizing: border-box;
}
.selected {
  height: 60%;
  /* margin: 0px 20px; */
}
.select {
  font-size: 20px;
  background-color: #fff;
  color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px #fff solid;
  border-radius: 0.5em;
  padding: 0.5em;
  cursor: pointer;
  transition: background 0.5s;
}
.select-clicked {
  border: 2px #fff solid;
  box-shadow: 0 0 0.8em lightgray;
}
.select:hover {
  /* background-color: #323741; */
  background-color: lightgrey;
}
.caret {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #000;
  transition: 0.3s;
}
.caret-rotate {
  transform: rotate(180deg);
}
.menu {
  list-style: none;
  padding: 0.2em 0.5em;
  background-color: #fff;
  font-size: 15px;
  border: 1px darkgray solid;
  box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
  border-radius: 0.5em;
  color: #000;
  position: absolute;
  top: 4em;
  left: 50%;
  width: 100%;
  transform: translate(-50%);
  opacity: 0;
  display: none;
  transition: 0.5s;
  z-index: 1;
}
.menu li {
  padding: 0.5em 0.5em;
  border-radius: 0.5em;
  cursor: pointer;
}
.menu li:hover {
  background: darkgray;
}
.active {
  /* background: #23242a; */
  background: lightgray;
}
.menu-open {
  display: block;
  opacity: 1;
}

body.dark-theme {
  color: #eee;
  background: hsl(207, 26%, 17%);
}

body.dark-theme #country-container {
  color: #eee;
  background: hsl(207, 26%, 17%);
}
body.dark-theme .search-and-country {
  color: #eee;
  background: hsl(207, 26%, 17%);
}

body.dark-theme div {
  color: white;
  background: hsl(209, 23%, 22%);
}
body.dark-theme p {
  color: white !important;
}
body.dark-theme input {
  color: white;
  border-color: #000;
  background: hsl(207, 26%, 17%);
}
body.dark-theme #content {
  color: white;
  background: hsl(209, 23%, 22%);
}

body.dark-theme h1 {
  color: white;
  background: hsl(209, 23%, 22%);
}

body.dark-theme #search {
  color: white;
  border: none;
  background: hsl(209, 23%, 22%);
}

body.dark-theme #search-and-submit {
  color: white;
  border-radius: 6px;
  background: hsl(209, 23%, 22%);
}

body.dark-theme #search-and-filter {
  color: white;
  background: hsl(207, 26%, 17%);
}
body.dark-theme .dropdown {
  border-radius: 6px;
}
body.dark-theme .select {
  border: none;
}
body.dark-theme .caret {
  border-top: 6px solid #fff;
}

body.dark-theme span {
  color: white !important;
}

body.dark-theme .select:hover {
  background-color: #363a43;
}

body.dark-theme .select-clicked {
  border: none;
  box-shadow: none;
  background-color: hsl(207, 26%, 17%);
}
body.dark-theme .menu {
  background-color: hsl(209, 23%, 22%);
  color: white;
}

body.dark-theme .menu li:hover {
  background-color: hsl(207, 26%, 17%);
}

body.dark-theme .active {
  background-color: hsl(207, 26%, 17%);
}

#checkbox {
  -webkit-appearance: none;
  visibility: hidden;
  display: none;
}
.check {
  position: relative;
  display: block;
  width: 40px;
  height: 20px;
  border-radius: 20px;
  background: #092c3e;
  cursor: pointer;
  overflow: hidden;
  transition: ease-in 0.5s;
}

#checkbox:checked ~ .check {
  background: #fff;
}
.check::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  background-color: #fff;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  transition: 0.5s;
}
#checkbox:checked ~ .check:before {
  transform: translate(-50px);
}

.check::after {
  content: "";
  position: absolute;
  top: 2px;
  right: 2px;
  background-color: #092c3e;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  transition: 0.5s;
  transform: translate(50px);
}
#checkbox:checked ~ .check::after {
  transform: translate(0px);
}

@media only screen and (max-width: 800px) {
  #country-container {
    justify-content: center;
  }
  .content {
    margin: 10px 1px 0px 1px;
  }
}

@media only screen and (max-width: 580px) {
  #search-and-filter {
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;
  }
  .header {
    height: 140px;
  }
  #content {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
